<!DOCTYPE html>
<html lang="en">
@{
    var Key = Context.Session.GetString("USER_SESSION_KEY");
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SrmBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/cerulean/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: black;">
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">SRMBOOK</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">회원관리</a>
                            <div class="dropdown-menu">
                                @if (Key == null)
                                {
                                    <a class="dropdown-item" asp-controller="BookUser" asp-action="Login">로그인</a>
                                    <a class="dropdown-item" asp-controller="BookUser" asp-action="Register">회원가입</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-controller="BookUser" asp-action="Logout">로그아웃</a>
                                    <a class="dropdown-item" asp-controller="BookUser" asp-action="Index">회원정보 수정</a>
                                }
                            </div>
                        </li>
                        @if (Key != null)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false">도서 분류</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="BookClassification" asp-action="Index">도서 분류</a>
                                    <a class="dropdown-item" asp-controller="BookInventory" asp-action="Index">도서 재고</a>
                                </div>
                            </li>
                        }
                        @if (Key != null)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false">도서 발주</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="BookOrder" asp-action="Create">도서 구매</a>
                                    <a class="dropdown-item" asp-controller="BookOrder" asp-action="Index">도서 구매내역</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SrmBook - <a asp-area="" asp-controller="Home" asp-action="Index"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>