<!DOCTYPE html>
<html lang="en">
@{
    var Key = Context.Session.GetString("USER_SESSION_KEY");
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SrmBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/cerulean/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-color: black;">
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">SRMBOOK</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">회원관리</a>
                            <div class="dropdown-menu">
                                @if (Key == null)

                                {
                                    <a class="dropdown-item" asp-controller="BookUser" asp-action="Login">로그인</a>
                                    <a class="dropdown-item" asp-controller="BookUser" asp-action="Register">회원가입</a>
                                }

                                else

                                {
                                    <a class="dropdown-item" asp-controller="BookUser" asp-action="Index">회원정보 수정</a>
                                }
                            </div>
                        </li>
                        @if (Key != null)

                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false">도서 분류</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="BookClassification" asp-action="Index">도서
                                        분류</a>
                                    <a class="dropdown-item" asp-controller="BookInventory" asp-action="Index">도서 재고</a>
                                </div>
                            </li>
                        }
                        @if (Key != null)

                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false">도서 발주</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="BookOrder" asp-action="Create">도서 구매</a>
                                    <a class="dropdown-item" asp-controller="BookOrder" asp-action="Index">도서 구매내역</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <!-- 로그아웃 버튼 -->
            @if (Key != null)
            {
                <div class="btn-group container-fluid" style="width:170px; height:30px;" role="group"
                    aria-label="Basic example">
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#logoutModal">로그아웃</button>
                </div>
            }
            <!-- 로그아웃 모달 -->
            <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="logoutModalLabel">로그아웃 확인</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>정말로 로그아웃 하시겠습니까?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-secondary" id="logoutButton">로그아웃</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function () {
            // 로그아웃 버튼 클릭 이벤트 처리
            $('#logoutButton').on('click', function () {
                // 로그아웃 요청 처리
                $.ajax({
                    url: '/BookUser/Logout', // 로그아웃을 처리하는 액션 메서드의 경로
                    type: 'GET', // GET 또는 POST 요청 방식을 선택해야 합니다.
                    success: function (data) {
                        // 로그아웃 성공 시 처리할 내용
                        // 예: 페이지 리로드, 다른 동작 등
                        location.reload(); // 페이지 리로드 예시
                    },
                    error: function (xhr, status, error) {
                        // 로그아웃 실패 시 처리할 내용
                        // 예: 오류 메시지 출력 등
                        console.log(error); // 콘솔에 오류 메시지 출력 예시
                    }
                });
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>