@model SrmBook.Models.BookInventory

@{
    ViewData["Title"] = "Edit";
}

<fieldset style="margin-top: 50px;">
    <legend>재고 도서 수정</legend>
</fieldset>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BOOK_NUM" />
            <div class="form-group">
                <label asp-for="BOOK_CLASS" class="control-label"></label>
                <input asp-for="BOOK_CLASS" class="form-control" />
                <span asp-validation-for="BOOK_CLASS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_NAME" class="control-label"></label>
                <input asp-for="BOOK_NAME" class="form-control" />
                <span asp-validation-for="BOOK_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_WRITER" class="control-label"></label>
                <input asp-for="BOOK_WRITER" class="form-control" />
                <span asp-validation-for="BOOK_WRITER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_PRICE" class="control-label"></label>
                <input asp-for="BOOK_PRICE" class="form-control" />
                <span asp-validation-for="BOOK_PRICE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_QUANTITY" class="control-label"></label>
                <input asp-for="BOOK_QUANTITY" class="form-control" />
                <span asp-validation-for="BOOK_QUANTITY" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 5px;">
                <input type="submit" value="저장" class="btn btn-outline-light"/>
                <a class="btn btn-outline-light" asp-action="Index">취소</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
