@model SrmBook.Models.BookOrder

@{
    ViewData["Title"] = "Create";
    var Key = Context.Session.GetString("USER_SESSION_KEY");
}
<fieldset style="margin-top: 50px;">
    <legend>도서 발주</legend>
</fieldset>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="USER_ID" class="control-label"></label>
                <input asp-for="USER_ID" class="form-control" value="@Key" readonly />
                <span asp-validation-for="USER_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORDER_DATE" class="control-label"></label>
                <input asp-for="ORDER_DATE" class="form-control" />
                <span asp-validation-for="ORDER_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_QUANTITY" class="control-label"></label>
                <input asp-for="BOOK_QUANTITY" class="form-control" />
                <span asp-validation-for="BOOK_QUANTITY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_NAME" class="control-label"></label>
                <input asp-for="BOOK_NAME" class="form-control" />
                <span asp-validation-for="BOOK_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_NUM" class="control-label"></label>
                <input asp-for="BOOK_NUM" class="form-control" />
                <span asp-validation-for="BOOK_NUM" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 5px;">
                <input type="submit" value="발주" class="btn btn-outline-light" />
                <a class="btn btn-outline-light" asp-action="Index">이전</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
