@model SrmBook.Models.BookOrder

@{
    ViewData["Title"] = "Delete";
}

<fieldset style="margin-top: 50px;">
    <legend>발주 취소</legend>
</fieldset>

<p>정말 취소하시겠습니까?</p>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ORDER_NUM" />
        <input type="submit" value="Delete"  class="btn btn-outline-light"/> |
        <a asp-action="Index">이전</a>
    </form>
</div>
