@model SrmBook.Models.BookClassification

@{
    ViewData["Title"] = "Delete";
}

<fieldset style="margin-top: 50px;">
    <legend>도서 삭제</legend>
</fieldset>

<p>정말 삭제하시겠습니까?</p>
<p>삭제된 정보는 복구가 불가합니다</p>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="BOOK_NUM" />
        <input type="submit" value="삭제" class="btn btn-outline-light" />
        <a class="btn btn-outline-light" asp-action="Index">취소</a>
    </form>
</div>
