@model SrmBook.Models.BookClassification

@{
    ViewData["Title"] = "Edit";
}

<h1>수정</h1>

<h4>도서 분류</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"  class="text-danger"></div>
            <input type="hidden" asp-for="BOOK_NUM" />
            <div class="form-group">
                <label asp-for="BOOK_IMAGE" class="control-label"></label>
                <input name="imageFile" asp-for="BOOK_IMAGE" type="file" class="form-control"/>
                <span asp-validation-for="BOOK_IMAGE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_CLASS" class="control-label"></label>
                <input asp-for="BOOK_CLASS" class="form-control" />
                <span asp-validation-for="BOOK_CLASS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_NAME" class="control-label"></label>
                <input asp-for="BOOK_NAME" class="form-control" />
                <span asp-validation-for="BOOK_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_WRITER" class="control-label"></label>
                <input asp-for="BOOK_WRITER" class="form-control" />
                <span asp-validation-for="BOOK_WRITER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_PRICE" class="control-label"></label>
                <input asp-for="BOOK_PRICE" class="form-control" />
                <span asp-validation-for="BOOK_PRICE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">목록으로 돌아가기</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
