@model SrmBook.Models.BookDelivery

@{
    ViewData["Title"] = "Create";
}

<fieldset style="margin-top: 50px;">
    <legend>도서 배송</legend>
</fieldset>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ORDER_NUM" class="control-label"></label>
                <input asp-for="ORDER_NUM" class="form-control" readonly />
                <span asp-validation-for="ORDER_NUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USER_ID" class="control-label"></label>
                <input asp-for="USER_ID" class="form-control" readonly />
                <span asp-validation-for="USER_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DELIVERY_DATE" class="control-label"></label>
                <input asp-for="DELIVERY_DATE" class="form-control" />
                <span asp-validation-for="DELIVERY_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_QUANTITY" class="control-label"></label>
                <input asp-for="BOOK_QUANTITY" class="form-control" readonly />
                <span asp-validation-for="BOOK_QUANTITY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_NUM" class="control-label"></label>
                <input asp-for="BOOK_NUM" class="form-control" readonly />
                <span asp-validation-for="BOOK_NUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOOK_NAME" class="control-label"></label>
                <input asp-for="BOOK_NAME" class="form-control" readonly />
                <span asp-validation-for="BOOK_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ADDRESS" class="control-label"></label>
                <input asp-for="ADDRESS" class="form-control" readonly/>
                <span asp-validation-for="ADDRESS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEL" class="control-label"></label>
                <input asp-for="TEL" class="form-control" readonly/>
                <span asp-validation-for="TEL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
