@model SrmBook.Models.BookUser

<fieldset style="margin-top: 50px;">
    <legend>회원 탈퇴</legend>
</fieldset>

<div>
    @using (Html.BeginForm("DeleteConfirmed", "BookUser", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.USER_NUM)
        <p>정말로 탈퇴하시겠습니까? 삭제된 정보는 복구가 불가합니다</p>
        <input type="submit" value="삭제" class="btn btn-outline-light"/>
        @Html.ActionLink("취소", "Index", "BookUser", null, new { @class = "btn btn-outline-light" })
    }
</div>
