@model SrmBook.Models.BookLoginView

<h2>로그인</h2>

<form class="form-horizontal" method="post" asp-controller="BookUser" asp-action="Login">
<!-- asp-validation-summary=”ModelOnly”  :  전역적인 경고 메세지를 위해 사용한다.-->
<!-- 개별적으로 체크한 후 문제가 없으면 전역적인 체크를 하고 문제가 있으면 경고를 띄워준다. -->
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label>사용자 ID</label>
        <input type="text" asp-for="USER_ID" class="form-control" placeholder="사용자 아이디 입력" />
        <span class="text-danger" asp-validation-for="USER_ID"></span>
    </div>

    <div class="form-group">
        <label>사용자 비밀번호</label>
        <input type="password" asp-for="USER_PW" class="form-control" placeholder="비밀번호 입력" />
        <span class="text-danger" asp-validation-for="USER_PW"></span>
    </div>

    <div class="form-group">
       <button type="submit"  class="btn btn-success">로그인</button>
    </div>
</form>